<div class="d-flex justify-content-center">
  <form (submit)="searchValue(search.value)" action="#" style="width: 600px">
    <div class="text-center mb-5 mt-3">
      <h1>Insta Search</h1>
    </div>
    <div class="mb-3">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder=""
          aria-label="Search"
          #search
        />
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="emailsLista" class="container">
  <button class="btn btn-outline-primary mb-3" (click)="carregarMais()">
    Carregar Mais
  </button>
  <div class="card">
    <div class="card-body">
      <span *ngFor="let item of emailsArray">{{ item }}<br /></span>
      <!-- {{ emailsArray }} -->
    </div>
  </div>
</div>
<button class="btn btn-outline-primary mb-3" (click)="carregarMais()">
  Carregar Mais
</button>

<div class="container">
  <div class="profile" *ngFor="let profile of profiles">
    <h3>{{ profile.title }}</h3>
    <a [href]="profile.link" target="_blank">{{ profile.link }}</a>
    <p>{{ profile.snippet }}</p>
  </div>
</div>
